*.class
*.log
*.log*
*.lck
    
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

#BasicWorkingMemory

BasicWorkingMemory/captures/*
BasicWorkingMemory/received/*
#ImageSegmentation

/ImageSegmentation/received/*

Perception/lib/javac.jar
